<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>UNA Design</title>

	<!--Importados-->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="sortcut icon" href="{{ url_for('static', filename='imagens/Iconeaba.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

	<!--MetaSEO-->

	<meta charset="utf-8">
	<meta name="author" content="Gualberto Junio, Thiago Luan, Guilherme Miguel, Samuel Faria"/>
	<meta name="keywords" content="webdesign, web, design, javascript html, css, python">
	<meta name="Viewport" content='width=device-width,initial-scale=1.0,maximum-scale=1.0'>

</head>
<body>	
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><h2>UNA.Projeto</h2></a>
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li>
                        <a target="_blank" href="">Home</a>
                    </li>
                    <li>
                        <a target="_blank" href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a target="_blank" href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-mobile">
                <h2><i class="fa fas fa-bars"></i></h2>
                <ul>
                    <li>
                        <a target="_blank" href="">Home</a>
                    </li>
                    <li>
                        <a target="_blank" href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a target="_blank" href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div> <!--Container-->
    </header>

    <section style="background-image: url(../static/imagens/imagemcapa7.jpg);" class="title-page">
        <div class="overlay__title-page"></div>
        <div class="container">
            <h2>Blog</h2>
            <p>Confira nossos artigos exclusivos sobre os mais variados temas sobre o mundo das tecnologias.</p>
        </div> <!--Container-->
    </section>
    
    <section class="article-page">
        <div class="container">
            <div class="article-format">
                <h1>Extensões essenciais do Visual Studio Code</h1>
                <div class="info-criador">
                    <p>Por Samuel Faria</p>
                    <p>Aluno Centro Universitário UNA/Ciência da Computação</p>
                    <p>11/06 - 19:39</p>
                </div>
                <img src="../static/imagens/artigo1img.jpg">
                <div class="text-article">                   
                    <h4>Auto Complete Tag</h4>
                    <p>
                        Todo programador já ficou ou sempre fica com uma pulga atrás da orelha e uma preguíça de sempre 
                        ter que fechar as tags do HTML de modo manual, felizmente, o Visual Studio Code nos permite baixar uma 
                        extensão para resolver esse problema. A Auto Complete Tag é um extensão que permite fechar de maneira 
                        automática as tags do HTML, basta baixar que ela é aplicada instantâneamente. Prático não é?
                    </p>
                    <h4>Color Picker/Color Info</h4>
                    <p>                       
                        Aqui temos uma dobradinha. De maneira resumida, ambas atuam de maneira a auxiliar o desenvolvedor 
                        a escolher e manejar as cores de seus projetos. A extensão Color Picker permite uma rápida e prática 
                        seleção de cores dentro do próprio programa, já o Color Info nos mostra a cor que escolhemos, o rgb, o nome ou o 
                        hexadecimal adquire o tom da cor que selecionamos. Ambas as extensões são muito boas separadas, mas 
                        juntas elas tornam o projeto mais organizado e prático.
                    </p> 
                    <h4>Drácula</h4>   
                    <p>      
                        Quando comecei a usar o Visual Studio Code, algo me incomodava. Diferentemente do Sublime Text, as cores 
                        dos códigos eram brancos, dificultando um pouco a visualizar as propriedades e tags. Foi quando descobri 
                        a extensão Drácula; essa extensão permite alterar a cor das linhas de código, dando uma cor para cada função.
                    </p> 
                    <h4>Live Server </h4>  
                    <p> 
                        De longe, a minha favorita. Sabe quando você está programando e sempre tem que dar um CTRL + S e reiniciar 
                        a página do navegador para atualizar o projeto? As vezes isso se torna meio improdutivo e cansativo. Instalando a 
                        extensão Live Server, seus projetos vão rodar em tempo real; apenas salvando o arquivo o resultado é atualizado automaticamente.
                    </p>
                    <h4>Lorem Ipsum</h4>
                    <p>   
                        Essa é uma extensão super simples porém extremamente prática. Para quem não conhece, Lorem Ipsum é 
                        um texto em latim muito usado por desenvolvedores, a fim de testar seus campos de texto para ver se 
                        tudo ficou bem formatado. A extensão adiciona uma função de inserção automática de um Lorem Ipsum, basta definir 
                        uma tecla para ativar o texto.
                    </p>
                </div>
                <div style="width: 100%; height: 3px; background-color: rgb(150, 150, 150);"></div>
            </div>
        </div>

    </section>

    <section class="sobre-equipe">
        <div class="container">
        <div class="equipe-container">
            <div class="line-text">
                <div style="width: 70px;"></div>
                <h2>Equipe</h2>
            </div>
            <marquee direction="up">
                <div class="avatar-box">
                    <div style="background-image: url('static/imagens/imagemcapa2.jpg')" class="img-avatar"></div><div class="descricao-avatar">
                        <h3>Gualberto Junio</h3>
                        <p>Aluno no Centro Universitário UNA/Tecnologia da Informação</p>
                    </div>
                </div> <!--Avatar Box-->

                <div class="avatar-box">
                    <div style="background-image: url('static/imagens/imagemcapa2.jpg')" class="img-avatar"></div><div class="descricao-avatar">
                        <h3>Thiago Luan</h3>
                        <p>Aluno no Centro Universitário UNA/Tecnologia da Informação</p>
                    </div>
                </div> <!--Avatar Box-->

                <div class="avatar-box">
                    <div style="background-image: url('static/imagens/imagemcapa2.jpg')" class="img-avatar"></div><div class="descricao-avatar">
                        <h3>Guilherme Miguel</h3>
                        <p>Aluno no Centro Universitário UNA/Tecnologia da Informação</p>
                    </div>
                </div> <!--Avatar Box-->

                <div class="avatar-box">
                    <div style="background-image: url('static/imagens/imagemcapa2.jpg')" class="img-avatar"></div><div class="descricao-avatar">
                        <h3>Samuel Faria</h3>
                        <p>Aluno no Centro Universitário UNA/Tecnologia da Informação</p>
                    </div>
                </div> <!--Avatar Box-->

            </marquee>
        </div>  <!--Equipe container-->

        <div class="sobre-container">
            <div class="line-text">
                <div style="width: 70px;"></div>
                <h2>Sobre</h2>
                <p>
                    Bem-vindo ao nosso site criado para o projeto final da universidade UNA para os cursos das áreas da tecnologia da 
                    informação! Resolvemos criar um site sobre Web Design, mostrando e dando algumas observações acerca das tecnologias 
                    mais usadas no meio dos Web Designers, como o HTML, o CSS e softwares como o Photoshop.
                </p>
                <p>
                    Foi um projeto muito produtivo e divertido de se criar pois todos os membros do grupo aprenderam bastante, além de ajudar 
                    a criar boas amizades. Mesmo com algumas inexperiências na área da programação, nós ajudamos uns aos outros, o que tornou tudo 
                    muito menos complicado e mais tranquilo.
                </p>
            </div>
        </div> <!--Sobre container-->
        <div class="clear"></div>
        

        </div>  <!--Container-->
    </section> <!--Sobre container-->

    <section class="inscricao">
        <div class="container">

            <div class="w50 center">
                <h2 class="inscricao-texto"><i class="fas fa-bullhorn"></i>Inscreva-se na nossa lista!</h2>
            </div>

            <div class="w50 center">
                <form method="post" class="inscricao-form">
                    <p><label>name:</label></p>
                    <input type="text" name="name" id="name">
                    <p><label>email:</label></p>
                    <input type="text" name="email" id="email">
                    <input class="inscricao-submit" type="submit" name="acao" value="Enviar">
                </form>
            </div>

            <div class="clear"></div>
            <p class="list_conf" style="padding-left: 130px;">
                <a href="/lista">
                    <i class="home"></i> Clique aqui para conferir a lista
                </a>
            </p>
        </div>
    </section>

    <section class="cards">
        <div class="container">
            <div class="card-single">
                <img src="static/imagens/imghtml.jpeg" alt="" title="" />
                <h3>HTML</h3>
                <p>Ao trabalhar com HTML simplesmente codificamos estruturas (tags e atributos) para marcar a página de um site.</p>
            </div>

            <div class="card-single">
                <img src="static/imagens/imgcss.jpg" alt="" title="" />
                <h3>CSS</h3>
                <p>Utilizando o CSS é possível alterar a cor do texto e do fundo, fonte e espaçamento entre parágrafos.</p>
            </div>

            <div class="card-single">
                <img src="static/imagens/imgjs.png" alt="" title="" />
                <h3>JavaScript</h3>
                <p>Com o JavaScript incluir elementos como mapas, formulários, animações e muito mais.</p>
            </div>

            <div class="clear"></div>
        </div>
    </section>
