<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="sortcut icon" href="{{ url_for('static', filename='imagens/Iconeaba.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/regular.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	
	<!--MetaSEO-->

	<meta name="author" content="Gualberto Junio, Thiago Luan, Guilherme Miguel, Samuel Faria"/>
	<meta name="keywords" content="webdesign, web, design, photoshop, html, css, python">
	<meta name="Viewport" content='width=device-width,initial-scale=1.0,maximum-scale=1.0'>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><h2>UNA.Projeto</h2></a>
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a target="_blank" href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a target="_blank" href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-mobile">
                <h2><i class="fa fas fa-bars"></i></h2>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="/sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div> <!--Container-->
    </header>

    <section style="background-image: url(../static/imagens/imagemcapa5.jpg);" class="title-page">
        <div class="overlay__title-page"></div>
        <div class="container">
            <h2>Blog</h2>
            <p>Confira nossos artigos exclusivos sobre os mais variados temas sobre o mundo das tecnologias.</p>
        </div> <!--Container-->
    </section>

    <div class="container" style="padding: 60px;">
        <h1 style="border-bottom: 3px solid #EEE; padding-bottom: 20px;">Lista de pessoas inscritas</h1>

        <table style="margin-left: auto; margin-right: auto; padding-top: 40px;">
            <tr>
                <td style="border-bottom: 1px solid rgb(167, 167, 167);">name</td>
                <td style="border-bottom: 1px solid rgb(167, 167, 167);">email</td>
            <tr>


            {% for r in cad %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
            <tr>
            {% endfor %}

        </table>

        <p style="font-size: 20px; text-align: center; padding-top: 20px;"><a href="/" style="color: #52ccc3; text-decoration: none;"><i class="home"></i> Clique aqui para retornar a pagina principal</a></p>
    </div>



    <section class="inscricao">
        <div class="container">

            <div class="w50 center">
                <h2 class="inscricao-texto"><i class="fas fa-bullhorn"></i>Inscreva-se na nossa lista!</h2>
            </div>

            <div class="w50 center">
                <form method="post" class="inscricao-form">
                    <p><label>name:</label></p>
                    <input type="text" name="name" id="name">
                    <p><label>email:</label></p>
                    <input type="text" name="email" id="email">
                    <input class="inscricao-submit" type="submit" name="acao" value="Enviar">
                </form>
                <p class="list_conf">
                    <a class="a_conf" href="/lista">
                        <i class="home"></i> Clique aqui para conferir a lista
                    </a>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section class="cards">
        <div class="container">
            <div class="card-single">
                <img src="static/imagens/imghtml.jpeg" alt="" title="" />
                <h3>HTML</h3>
                <p>Ao trabalhar com HTML simplesmente codificamos estruturas (tags e atributos) para marcar a página de um site.</p>
            </div>

            <div class="card-single">
                <img src="static/imagens/imgcss.jpg" alt="" title="" />
                <h3>CSS</h3>
                <p>Utilizando o CSS é possível alterar a cor do texto e do fundo, fonte e espaçamento entre parágrafos.</p>
            </div>

            <div class="card-single">
                <img src="static/imagens/imgjs.png" alt="" title="" />
                <h3>JavaScript</h3>
                <p>Com o JavaScript incluir elementos como mapas, formulários, animações e muito mais.</p>
            </div>

            <div class="clear"></div>
        </div>
    </section>

    <footer class="footer1">
        <div class="container">
            <div class="w33">
                <h2>Aonde estamos?</h2>
                <p><i class="fas fa-phone-alt"></i> (31) 4005-9163</p>
                <p><i class="fas fa-map-marked-alt"></i> Av Maria Da Gloria Rocha, 175</p>
            </div>

            <div class="w33">
                <h2>Links Úteis</h2>
                <p><a href="https://www.google.com/"><i class="fab fa-google"></i> Google</a></p>
                <p><a href="https://fontawesome.com/"><i class="fab fa-font-awesome-flag"></i> Font Awesome</a></p>
                <p><a href="https://www.w3schools.com/"><i class="fas fa-code"></i> W3Schools</a></p>
            </div>

            <div class="w33">
                <h2>Conecte-se conosco!</h2>
                <p><a href="https://twitter.com/"><i class="fab fa-twitter"></i> Twitter</a></p>
                <p><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <footer class="footer2">
        <div class="container">
            <p><i class="fas fa-project-diagram"></i> Projeto Final UNA</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('nav.menu-mobile h2').click(function(){
            $('nav.menu-mobile ul').slideToggle();
        });
    </script>

</body>
</html>

<h3></h3><!-- Start BawkBox Code--><script data-sil-id="60b2ead208a60f001e780769">
var loadWidget = function() { var d = document, w = window,
 l = window.location,p = l.protocol == "file:" ? "http://" : "//"; if (!w.WS) w.WS = {};
 c = w.WS; var m=function(t, o){ var e = d.getElementsByTagName("script");
  e=e[e.length-1]; var n = d.createElement(t); if (t=="script") {n.async=true;}
  for (k in o) n[k] = o[k]; e.parentNode.insertBefore(n, e)}; m("script",
  { src: p + "bawkbox.com/widget/feedback/60b2ead208a60f001e780769?page=" +encodeURIComponent(l+''),
   type: 'text/javascript' }); c.load_net = m; }; if(window.Squarespace){ document.addEventListener('DOMContentLoaded', loadWidget);
    setTimeOut(function(){ document.addEventListener('DOMContentLoaded', loadWidget); }, 3000) } else { loadWidget() }
</script><div class="sil-widget-feedback sil-widget" id="sil-widget-60b2ead208a60f001e780769"><a href="//bawkbox.com/install/feedback"></a></div><!-- End BawkBox Code-->
</body>
</html>

