<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final Una</title>


    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <form class="form" action="#">
        <div class="card">
            <div class="card-top">
             <img class="imglogin" src="img/login.png" alt="">
             <h2 class="title">Painel de controle</h2>
             <p>Acessar sua Conta</p>
            </div>

            <div class="cad-group">
                <label>Email</label>
                <input type="email" name="login_email" id="login_email" placeholder="Digite seu email" required>
            </div>

            <div class="cad-group">
                <label>Senha</label>
                <input type="password" name="login_senha" id="login_senha" placeholder="Digite sua senha" required>
            </div>

            <div class="cad-group">
                <label><input type="checkbox"> Lembre-me</label>
                <a id="cadlink" href="indexregistro.html">Cadastre-se</a>
            </div>

            <div class="cad-group btn">
                <button type="submit">ACESSAR</button>
            </div>
        </div>
    </form>
         
    
</body>
</html>